<%- include('../partials/header') %>
<section id="show-page">
  <div class="info-header">Posted by: </div>
  <div><img src="<%= foodpost.userAvatar %>" alt="User Avatar"> <%= foodpost.userName %></div>
  <div class="info-header">Name: <%= foodpost.name %></div>
  <div class="info-header">Category: <%= foodpost.category %></div>
  <div class="info-header">What's posted: <%= foodpost.description %></div>
  <div class="info-header">Image:</div>
  <div><img src="<%= foodpost.imageUrl %>" alt="Food Image"></div>

  <!-- <h2>User Reviews</h2>
  <form id="add-review-form" method="POST" action="/foodposts/<%= foodpost._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Review">
  </form> -->

  <% if (foodpost.reviews && foodpost.reviews.length) { %>
    <table>
      <tbody>
        <% let total = 0 %>
        <% foodpost.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"> <%= r.userName %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
            <td>
              <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong><%= (total / foodpost.reviews.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } %>
</section>

  <!-- for delete -->
  <% if (user && user._id.equals(foodpost.user)) { %>
    <form id="delete-form" method="POST" action="/foodposts/<%= foodpost._id %>?_method=DELETE">
      <button type="submit">Delete Post</button>
    </form>
  <% } %>
 
  <form method="POST" action="/foodposts/<%= foodpost._id %>/reviews">
    <input name="content">
    <button type="submit">Submit</button>
  </form>
  <!-- delete later on -->

<%- include('../partials/footer') %>
